/node_modules
/src
jest.config.js
tsconfig.json
/.github
/.idea
/doc
/coverage

.eslintignore
.eslintrc.js
.prettierignore

babel.config.js
prettier.config.js

/dist/*.test.js*
/dist/*.test.d.ts
/dist/*.js.map

.eslintcache
.husky/